* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
}

.nav-item {
	display: inline-block;
}

.nav-item  a {
	color: #fff;
	padding: 0 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	transition: 0.3s;
}

.nav-item  a:hover {
	color: rgb(0, 0, 0);
}

.header-img{
	position: relative;
	height: 300px;
	background-image: url('../img/bcg1.jpg');
	background-size:cover;
	background-position: 10% 31%;
	
}

.header-txt{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	/* center */
	/* background-color:#fff ; */
	color: #fff;
	z-index: 5;
}

main{
	margin: 50px auto;
	width: 1200px;
}

main h2{
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}

.about-us-box{
	margin: 40px 0;
	overflow: hidden;
}

.top{
	position: relative;
	height: 340px;
	background-image: url('../img/photos/necktie-g41f62e5e1_1920.jpg');
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	background-position: center;
	background-size:auto;
	border-radius: 100px;
	background-repeat: no-repeat;
}
.middle{
	position: relative;
	height: 340px;
	background-image: url('../img/photos/work-g85ee60b19_1280.jpg');
	background-attachment: fixed;
	background-position: center;
	border-radius: 100px;
	background-repeat: no-repeat;
	/* background-size: auto; */

}
.bottom{
	position: relative;
	height: 340px;
	background-image: url('../img/photos/neckties-g0909c1cca_1920.jpg');
	background-attachment: fixed;
	background-position: center;
	border-radius: 100px;
	background-repeat: no-repeat;
	/* background-size: auto; */
}

.about-us-text{
	position: absolute;
	bottom: 20px;
	left: 50px;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
}
.about-us-bg{
	position: absolute;
	bottom: 0;
	height: 45%;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	
}
footer{
	position: fixed;
	width: 100%;
	top: 92%;
	height: 80px;
	line-height: 80px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	font-size: 20px;


}

.icon-box a{
	margin: 0 5px;
	color: #ddd;
	font-size: 30px;
	transition: color 0.3s;
}

.icon-box a:hover{
	color: black;
}
.services-list{
	margin: 0 auto;
	width: 200px;
	font-weight: bold;
	/* background-color: red; */
}
.prices-table{
	margin: 0 auto;
	/* width: 170px; */
	font-weight: bold;
}
.contact-info{
	margin: 0 auto;
	width: 200px;
}
