* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Raleway", sans-serif;
}

.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
}

.nav-item {
	display: inline-block;
}
.nav-item  a {
	color: #fff;
	padding: 0 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	transition: 0.2s;
}
.nav-item  a:hover {
	color: aqua;
}
